*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
html,body{
    width: 100%;
    height: 100%;
}
#content{
    background-color: aliceblue;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border: 5px solid blueviolet;
    border-radius: 20px;
}
h1{
    font-size: 40px;
    margin: 30px 0px;
    background-color: aqua;
}
p{
    font-size: 30px;
    text-align: justify;
}
span{
    font-size: 35px;
    font-weight: 800;
}